body {
  background: #f4f4f4; }

.navbar.pl-navbar {
  background: transparent;
  transition: background .5s; }
  .navbar.pl-navbar .navbar-brand > .navbar-item {
    opacity: 0; }
  .navbar.pl-navbar .navbar-item,
  .navbar.pl-navbar .navbar-link {
    color: #e4e4e4;
    transition: opacity .5s, background .5s; }
    .navbar.pl-navbar .navbar-item:hover, .navbar.pl-navbar .navbar-item.is-active,
    .navbar.pl-navbar .navbar-link:hover,
    .navbar.pl-navbar .navbar-link.is-active {
      background-color: rgba(255, 255, 255, 0.05); }
  .navbar.pl-navbar .navbar-burger {
    transition: opacity .5s, background .5s; }
    .navbar.pl-navbar .navbar-burger:hover {
      background-color: rgba(255, 255, 255, 0.05); }
  .navbar.pl-navbar .navbar-burger span {
    background-color: #e4e4e4; }
  .navbar.pl-navbar .navbar-menu {
    text-align: center; }
    @media screen and (max-width: 1087px) {
      .navbar.pl-navbar .navbar-menu {
        background-color: rgba(255, 255, 255, 0.05); } }

.navbar.pl-navbar.visible,
.navbar.pl-navbar.visible-active {
  background: #1a1a1a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
  .navbar.pl-navbar.visible .navbar-brand .navbar-item,
  .navbar.pl-navbar.visible-active .navbar-brand .navbar-item {
    opacity: 1; }

.hero.is-large .hero-body {
  background-color: rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 768px) {
    .hero.is-large .hero-body {
      padding-bottom: 14rem;
      padding-top: 14rem; } }

.hero.hero-header {
  background-image: url("../img/hero-header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

.hero.hero-header .title {
  font-size: 2.2rem;
  color: #ddd; }
  @media screen and (min-width: 769px) {
    .hero.hero-header .title {
      font-size: 3.4rem; } }

.hero.hero-header .subtitle {
  font-size: 1.2rem;
  color: #c4c4c4; }
  @media screen and (min-width: 769px) {
    .hero.hero-header .subtitle {
      font-size: 1.8rem; } }

section#quem-sou .image {
  margin: auto; }
  section#quem-sou .image img {
    border-radius: 50%;
    border: 5px solid #ccc; }

section#quem-sou .quem-sou-texto {
  font-size: 1.2rem; }

section#tecnologias {
  background-color: #e4e4e4; }
  section#tecnologias .level-item {
    opacity: .8;
    transition: transform .5s; }
    section#tecnologias .level-item .image {
      margin: auto; }
    section#tecnologias .level-item .heading {
      font-weight: bold;
      transition: color 1.2s; }
    section#tecnologias .level-item.colored {
      transform: scale(1.1); }

section#projetos .image {
  margin: 15px auto; }

section#contato {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1f1f1f;
  color: #888; }
  section#contato .title {
    color: #ddd; }

footer.footer {
  color: #888; }
  footer.footer .button.is-primary.is-outlined:hover,
  footer.footer .button.is-primary.is-outlined:focus {
    color: #1d1d1d; }
